
  .text-center h2 {
    color: var(--primary-color) !important;
  }
  
  .card-container {
    padding: 1rem !important;
    border-radius: 15px  !important;
    text-align: center  !important;
    position: relative  !important;
    cursor: pointer  !important;
    margin-top: 10px  !important;
  }
  
  .card-title {
    font-weight: bold  !important;
    margin-bottom: 16px  !important;
  }
  
  .icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .delete-button {
    position: absolute  !important;
    top: 10px  !important;
    right: 10px  !important;
    color: red  !important;
  }
  
  .pagination-container {
    display: flex  !important;
    justify-content: center  !important;
    margin-top: 4rem  !important;
  }

  .bacground-color{
    background-color: #5c6bc0  !important;
  }
  .primary-font{
    font-weight: bold  !important;
    color: white  !important;
  }

  .back-button {
    position: absolute !important;
    top: 20px !important;
    left: 20px !important;
    z-index: 10 !important;
    color: white !important;
  }


  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .info-item {
    margin-bottom: 10px;
    color: black;
  }
  
  .info-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .info-item input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
  }
  
  .job-application {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .job-title {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .text-color{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .error {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
